<div class="modal-backdrop">
  <div class="modal-container card shadow p-4">
    <h4 class="text-custom-blue">Edit Flat</h4>

    <div class="mb-3">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="updatedFlat.name" />
    </div>

    <div class="mb-3">
      <label>Type</label>
      <input class="form-control" [(ngModel)]="updatedFlat.type" />
    </div>

    <div class="mb-3">
      <label>Facilities</label>
      <input class="form-control" [(ngModel)]="updatedFlat.facilities" />
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="updatedFlat.furnished"
      />
      <label class="form-check-label">Furnished</label>
    </div>

    <div class="mb-3">
      <label>Street</label>
      <input class="form-control" [(ngModel)]="updatedFlat.street" />
    </div>

    <div class="mb-3">
      <label>City</label>
      <input class="form-control" [(ngModel)]="updatedFlat.city" />
    </div>

    <div class="d-flex gap-2">
      <button class="btn btn-custom-blue" (click)="submit()">Save</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
