.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  width: 400px;
  background: white;
  border-radius: 10px;
}

.text-custom-blue {
  color: #145ac2 !important;
}
.btn-custom-blue {
  background-color: #145ac2 !important;
  border-color: #145ac2 !important;
  color: white;
}
.btn-custom-blue:hover {
  background-color: #0f49a0 !important;
  border-color: #0f49a0 !important;
}
