.flat-details-card {
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
}

.flat-details-card strong {
  color: #222;
}

.text-custom-blue {
  color: #145ac2 !important;
}

.btn-custom-blue {
  background-color: #145ac2 !important;
  border-color: #145ac2 !important;
  color: white;
}
.btn-custom-blue:hover {
  background-color: #0f49a0 !important;
  border-color: #0f49a0 !important;
}
