<div class="container mt-3 mb-5">
  <div class="card shadow rounded-4 p-4 border-0">
    <h3 class="mb-4 text-custom-blue">Add Payment</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Select Flat -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Select Flat</label>
        <select class="form-control" formControlName="flatId" required>
          <option *ngFor="let flat of flats" [value]="flat.id">
            {{ flat.name }}
          </option>
        </select>
      </div>

      <!-- Amount -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Amount</label>
        <input type="number" class="form-control" formControlName="amount" />
      </div>

      <!-- Due Date -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Due Date</label>
        <input type="date" class="form-control" formControlName="due_date" />
      </div>

      <!-- Submit Button -->
      <div class="text-end">
        <button type="submit" class="btn btn-custom-blue px-4">Submit</button>
      </div>
    </form>
  </div>
</div>
