<div class="container mt-3 mb-5">
  <div class="card shadow rounded-4 p-4 border-0">
    <h3 class="mb-4 text-custom-blue">Record New Expense</h3>

    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <!-- Category -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Category</label>
        <input
          type="text"
          class="form-control"
          formControlName="category"
          placeholder="e.g., Electricity, Maintenance"
        />
      </div>

      <!-- Amount -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Amount</label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          placeholder="Enter amount"
        />
      </div>

      <!-- Note -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Note (optional)</label>
        <textarea
          class="form-control"
          formControlName="note"
          rows="2"
          placeholder="Any remarks or details"
        ></textarea>
      </div>

      <!-- Date -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Date</label>
        <input type="date" class="form-control" formControlName="date" />
      </div>

      <div class="text-end">
        <button type="submit" class="btn btn-custom-blue px-4">Submit</button>
      </div>
    </form>
  </div>
</div>
