<div class="container mt-4">
  <h3 class="mb-4">Available Flats</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let flat of flats">
      <div class="card hover-card h-200">
        <div class="card-body">
          <h5 class="card-title">
            <a
              [routerLink]="['/viewFlat', flat.id]"
              class="text-decoration-none fw-semibold"
            >
              <span class="material-icons align-middle me-2">apartment</span>
              {{ flat.name }}
            </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
